* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
body {
	background-color: #fff;
	color: #000;
}
section {
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	margin-top: 100px;
	max-height: fit-content;
	width: 60%;
	border: 2px solid black;
	padding: 30px;
	text-align: center;
	box-shadow: 5px 5px 0px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container.picture {
	width: 30%;
	height: 20%;
	margin: 0;
	padding: 10px;
	display: inline;
}
h1 {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
img {
	width: 100%;
	max-width: 400px;
	height: auto;
	border: 2px solid black;
	margin: 20px 0;
}
p {
	line-height: 1.6;
}
.buttons {
	margin-top: 20px;
}
.buttons a {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 2px solid black;
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
}
.buttons a:hover {
	background: black;
	color: white;
} bb 2421

.cgi-buttons a {
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: rgb(107, 107, 219);
	border: 2px solid black;
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
}

.cgi-buttons a:hover {
	background: #022449;
	color: white ;
}